.square-btn {
  font-family: 'Raleway', 'Regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: transparent 1px solid;
  padding: 12px 0;
  min-width: 111px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap; }

@media (max-width: 600px) {
  .square-btn {
    font-size: 14px;
    padding: 8px 18px; } }

.btn-img {
  height: 12px;
  margin-left: 25px; }

.img-left img {
  order: 1; }

.img-right img {
  order: 2; }

.bg-purple {
  background-color: #795BB6; }

.bg-blue {
  background-color: #1073E7; }

.bg-white {
  background-color: #fff; }

.border-white {
  border: 1px solid #fff; }

.txt-purple {
  color: #7D5AB5; }

.txt-white {
  color: #fff; }

/*****************************
        Shortcodes 
*****************************/
.generic-box-item {
  display: block;
  height: 100%;
  max-width: 376px;
  max-height: 320px;
  min-width: 310px;
  min-height: 260px;
  border: #dddddd solid 1px;
  background: #fff; }
  .generic-box-item:hover {
    filter: brightness(105%); }
  .generic-box-item .content {
    padding: 40px 40px 35px 40px;
    width: 100%;
    height: 100%;
    max-width: 376px;
    max-height: 320px;
    min-width: 310px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .generic-box-item .content img {
      width: 150px;
      height: 150px; }
    .generic-box-item .content h2 {
      font-family: 'Raleway';
      font-size: 30px;
      color: #111111; }
    .generic-box-item .content p {
      font-family: 'Roboto';
      font-size: 16px;
      max-width: 310px;
      color: #a3a6ad; }

@media (max-width: 600px) {
  .generic-box-item .content img {
    width: 90px;
    height: 90px; }
  .generic-box-item .content h2 {
    font-size: 18px; }
  .generic-box-item .content p {
    font-size: 14px; } }

.box-item-w-link {
  display: block;
  height: 100%;
  max-width: 376px;
  max-height: 320px;
  min-width: 310px;
  min-height: 260px; }
  .box-item-w-link:hover {
    filter: brightness(105%); }
  .box-item-w-link .content {
    padding: 40px 40px 35px 40px;
    width: 100%;
    height: 100%;
    max-width: 376px;
    max-height: 320px;
    min-width: 310px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .box-item-w-link .content img {
      width: 150px;
      height: 150px; }
    .box-item-w-link .content h2 {
      font-family: 'Raleway';
      font-size: 30px;
      color: #111111; }
    .box-item-w-link .content p {
      font-family: 'Roboto';
      font-size: 16px;
      max-width: 310px;
      color: #a3a6ad; }

@media (max-width: 600px) {
  .generic-box-item .content img {
    width: 90px;
    height: 90px; }
  .generic-box-item .content h2 {
    font-size: 18px; }
  .generic-box-item .content p {
    font-size: 14px; } }

.item-container-section {
  color: #111111;
  padding: 85px 0; }
  .item-container-section.bg-white {
    background: #fff; }
  .item-container-section .flex-center .square-btn {
    margin-top: 60px;
    text-align: center; }
  .item-container-section .container-title, .item-container-section .container-subtitle {
    text-align: center; }
  .item-container-section .container-title {
    font-size: 40px;
    margin: 0 0 26px 0; }
  .item-container-section .container-subtitle {
    color: #707070;
    font-size: 26px;
    margin: 0 0 35px 0;
    line-height: 25px;
    font-family: 'Roboto';
    font-weight: lighter; }
  @media (max-width: 800px) {
    .item-container-section .container-subtitle {
      font-size: 16px;
      margin: 0 0 33px 0; } }
  .item-container-section .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px 20px;
    justify-items: center;
    align-items: center; }

@media (max-width: 600px) {
  .item-container-section {
    padding: 55px 0; }
    .item-container-section .grid-container {
      grid-gap: 20px; } }

.hero-section {
  color: #7243BF;
  padding: 15px 0;
  display: grid;
  grid-column-gap: 32px;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text" "image text";
  align-items: center;
  min-width: 100vw; }
  .hero-section a {
    margin-top: 36px; }
  .hero-section .image-container {
    grid-area: image;
    display: flex;
    justify-content: end; }
  .hero-section .hero-img {
    max-height: 373px;
    height: 100%;
    max-width: 252px; }
  .hero-section h1 {
    color: inherit;
    font-size: 33px; }
  .hero-section p {
    margin: 0;
    font-size: 16px; }
  .hero-section .text-section-container {
    grid-area: text;
    color: inherit;
    text-align: left;
    align-self: flex-start;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 0 30px 0 0; }

@media (max-width: 900px) {
  .hero-section h1 {
    font-size: 35px; } }

@media (max-width: 700px) {
  .hero-section {
    padding: 0 0 55px 0;
    grid-template-areas: "image image" "text text"; }
    .hero-section .hero-img {
      height: 210px;
      justify-self: center; }
    .hero-section .hero-img {
      padding: 0 50px 0 0;
      height: 194px; }
    .hero-section .text-section-container {
      align-self: center;
      padding: 0 25px; }
    .hero-section h1 {
      margin: 27px 0 35px 0;
      font-size: 32px; }
    .hero-section a {
      margin-top: 25px; } }

/*********/
* {
  box-sizing: border-box; }

body {
  background: #FBFBFB; }

a, a:visited, a:hover, a:focus {
  text-decoration: none; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.news-content > p:empty {
  display: none; }

.ninety-vw-container {
  max-width: 90vw;
  margin: 0 auto; }

@media (min-width: 1300px) {
  .ninety-vw-container {
    max-width: 1200px;
    margin: 0 auto; } }

/*********/
.news-content ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color: #777777;
  font-size: 16px;
  line-height: 24px; }

.main-slider-overlay {
  background: -moz-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(68, 178, 233, 0.88)), color-stop(100%, #c529b5), color-stop(100%, #c529b5));
  background: -webkit-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -o-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: -ms-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
  background: linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%); }

.bg-gradient {
  background: -moz-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c529b5), color-stop(100%, #44b2e9));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(35deg, #c529b5 0%, #44b2e9 100%);
  /* ie10+ */
  background: linear-gradient(55deg, #c529b5 0%, #44b2e9 100%);
  /* w3c */ }

.page-header-bg {
  height: auto; }

.vert-10 {
  height: 10px; }

.icon-block {
  display: inline-block;
  margin-right: 15px; }
  .icon-block figcaption p {
    text-align: center; }

.icon-block figcaption p {
  text-align: center; }

.icon-block {
  display: inline-block;
  margin-right: 15px; }

.play-store-button {
  padding: 18px 25px !important; }

.play-store-button:after {
  content: ""; }

.projects-card-container {
  display: flex;
  flex-wrap: wrap; }
  .projects-card-container .project-card {
    margin: 15px 15px 0 0;
    padding: 0 20px 10px 20px;
    max-width: 400px; }

.info-links {
  display: flex;
  align-items: center; }
  .info-links label {
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(33, 33, 33, 0.5);
    color: #fff; }
    .info-links label.card-author {
      font-size: 12px;
      padding: 6px 10px; }
    .info-links label i {
      padding: 10px; }
