

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about-pb">
                <div class="col-md-6">
                    <div class="about-appix-left-img">
                        <img src="{{ .Get "imgSrc" }}" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-appix-right-content">
                        <h2 class="themeix-title-h1">{{ .Get "title"}}</h2>
                        <div class="para-mb">{{ .Inner }}</div>
                        <!--<p class="light-300 color-change">NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.</p>-->
                        <div class="themeix-button-group">
                            <a href="#pricing" class="themeix-btn themeix-danger smoothScroll">NavCoin.org</a>
                            <a href="#get-apps" class="themeix-btn bg-change themeix-info smoothScroll">Help make nav better</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<section class="about-section section-ptb" id="about">-->
    <!--<div class="container">-->
        <!--<div class="row ">-->
            <!--<div class="col-md-12 ">-->
                <!--<div class="themeix-section-heading-title">-->
                    <!--<h2 class="head-title">What is NavCoin?</h2>-->
                    <!--&lt;!&ndash;<p class="light-300 color-change">NavCoin is a decentralized cryptocurrency that uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of NavCoin is carried out collectively by the network. NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="light-300 color-change">NavCoin is a decentralized cryptocurrency that uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of NavCoin is carried out collectively by the network. NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.</p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

                <!--<div class="col-md-6">-->
                    <!--<div class="about-appix-right-content">-->
                        <!--<h2 class="themeix-title-h1">Get your productivity score in your appix app</h2>-->
                        <!--<p class="para-mb">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>-->
                        <!--<div class="themeix-button-group">-->
                            <!--<a href="#video" class="themeix-btn themeix-danger smoothScroll">Watch Trailer</a>-->
                            <!--<a href="#get-apps" class="themeix-btn bg-change themeix-info smoothScroll">Download Now</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="about-appix-left-img">-->
                        <!--<img src="images/about/2.jpg" alt="apps" class="img-responsive">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->