

<section class="themeix-bg" id="home">
    <div class="main-slider-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                      <div class="col-md-8">
                          <div class="caption-area">
                              <h1 class="caption-heading">{{ .Get "title" }}</h1>
                              <p class="caption-para">{{ .Get "subhead" }}</p>
                              <p class="caption-para-second" style="color: {{ .Get "txtColor" }};">{{ .Get "text" }}</p>
                              <div class="themeix-button-group">
                                  <a href="{{ .Get "button1Link" }}" class="themeix-btn smoothScroll">{{ .Get "button1Txt" }}</a>
                                  <a href="{{ .Get "button2Link" }}" class="themeix-btn bg-change smoothScroll">{{ .Get "button2Txt" }}</a>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
