<section class="skew">
    <div class="our-service-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-slider-section">
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{ .Get "feature1Img" }}" alt="">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">{{ .Get "feature1Title" }}</h3>
                                    <p class="themeix-para-style" style="color: {{ .Get "txtColor" }};">{{ .Get "feature1Txt"  }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{ .Get "feature2Img" }}" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">{{ .Get "feature2Title" }}</h3>
                                    <p class="themeix-para-style" style="color: {{ .Get "txtColor" }};">{{ .Get "feature2Txt" }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="{{ .Get "feature3Img" }}" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">{{ .Get "feature3Title" }}</h3>
                                    <p class="themeix-para-style" style="color: {{ .Get "txtColor" }};">{{ .Get "feature3Txt" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
