<!DOCTYPE html>
<html>

    {{ partial "head.html" . }}

    <body >
    {{ partial "header.html" .  }}

    {{ partial "home/hero_section.html" . }}

    <div id="react-latest-news"></div>
    
    {{ partial "home/projects_section.html" . }}

    {{ partial "home/events_section.html" . }}

    {{ partial "home/get_started.html" . }}

    {{ partial "home/call_to_action.html" . }}

    {{ partial "footer.html" . }}

    <!-- React components. -->
    <script src="/js/react/vendor.bundle.js"></script>
    <script src="/js/react/latest-news.js"></script>

</body>
</html>
