<div class="community-channels">
  <h2>Community Channels</h2>
  <div class="community-grid">
    <div class="community-tile">
      <a href="https://twitter.com/navcoin" target="e" title="NavCoin on Twitter"><img src="/images/community/nav_color-twitter-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://discord.gg/y4Vu9jw" target="e" title="NavCoin on Discord"><img src="/images/community/nav_color-discord-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://facebook.com/navcoin" target="e" title="NavCoin on Facebook"><img src="/images/community/nav_color-facebook-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://reddit.com/r/navcoin" target="e" title="NavCoin on Reddit"><img src="/images/community/nav_color-reddit-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://medium.com/@navcoin" target="e" title="NavCoin on Medium"><img src="/images/community/nav_color-medium-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://t.me/navcoin" target="e" title="NavCoin on Telegram"><img src="/images/community/nav_color-telegram-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://github.com/navcoin" target="e" title="NavCoin on GitHub"><img src="/images/community/nav_color-github-mid.png" /></a>
    </div>
    <div class="community-tile">
      <a href="https://info.navcoin.org" target="e" title="NavCoin Knowledge Base"><img src="/images/community/nav_color-nav-mid.png" /></a>
    </div>
  </div>
</div>
