
<div class="generic-box-item">
  <img src="{{ .Get "image" }}">
  <h2>{{ .Get "title" }}</h2>
  <p>{{ .Get "description" }}</p>
  <div class="icon-container">
    <a href="{{ .Get "tw_url" }}">
      <div class="icon-circle">
        <i class="fa fa-twitter fa-inverse"></i>
      </div>
    </a>
    <a href="{{ .Get "fb_url" }}">
      <div class="icon-circle">
        <i class="fa fa-facebook fa-inverse icon-itself"></i>
      </div>
    </a>
    <a>
      <div class="icon-circle">
        <i class="fa fa-github fa-inverse icon-itself"></i>
      </div>
    </a>
    <a>
      <div class="icon-circle">
        <i class="fa fa-mouse-pointer fa-inverse icon-itself"></i>
      </div>
    </a>
    <a>
      <div class="icon-circle">
        <i class="fa fa-quora fa-inverse icon-itself"></i>
      </div>
    </a>
    <a>
        <div class="icon-circle">
          <i class="fa fa-linkedin fa-inverse icon-itself"></i>
        </div>
      </a>
  </div>



</div>
