    <div style="background-color: {{ .Get "bgColor" }}; border-bottom: {{ .Get "borderBottom" }};">
      <div class="container">
        <div class="about-pb" style="padding: {{ .Get "containerPadding" }};">
          <div style="text-align: left;">
              <div class="about-appix-right-content">
                  {{ if isset .Params "title"}}
                  <h2 class="themeix-title-h1" style="color: {{ .Get "fontColor" }}">{{ .Get "title"}}</h2>
                  {{ end }}
                  <div style="color: {{ .Get "fontColor" }}">{{ .Inner }}</div>
                  <!--<p class="light-300 color-change">NavCoin is open-source; its design is public, nobody owns or controls NavCoin and everyone can take part.</p>-->
                  {{ if isset .Params "btn1Link" }}
                  <div class="themeix-button-group">
                      <a href="{{ .Get "btn1Link" }}" class="themeix-btn themeix-danger smoothScroll">{{ .Get "btn1Txt" }}</a>
                  </div>
                  {{ end }}
              </div>
          </div>
      </div>
    </div>
  </div>
