<section class="project-header project-header-2 {{ if eq (.Get "gradient") "true" }} bg-gradient {{ end }}" id="project" >
        <div style="background-image: url({{ .Get "bgImgSrc" }}); background-color: {{ .Get "bgColor" }};">
            <div class="content-container sixty-vw-container">
                <div class="caption-area" style="padding: {{ .Get "captionPadding"}} 0;">
                    <h1 class="heading" style="color: {{ .Get "fontColor" }}">{{ .Get "title" }}</h1>
                    <p class="subheading" style="color: {{ .Get "fontColor" }}">{{ .Get "subhead" }}</p>
                    <p class="paragraph" style="color: {{ .Get "fontColor" }}">{{ .Get "text" }}</p>
                </div>
                <div class="left-img" style="padding: {{ .Get "imgPadding"}} 0;">
                    <img src="{{ .Get "imgSrc" }}" style="max-height: {{ .Get "imgHeight"}};">
                <div class="under-image" style="margin: {{ .Get "bulletMargin"}};">
                        {{ if ne (.Get "bulletList") "false" }}
                            <ul>
                                {{ if isset .Params "bulletItem1" }}
                                    <li>{{ .Get "bulletItem1" }}</li>
                                {{ end }}
                                {{ if isset .Params "bulletItem2" }}
                                    <li>{{ .Get "bulletItem2" }}</li>
                                {{ end }}
                                {{ if isset .Params "bulletItem3" }}
                                    <li>{{ .Get "bulletItem3" }}</li>
                                {{ end }}
                                {{ if isset .Params "bulletItem4" }}
                                    <li>{{ .Get "bulletItem4" }}</li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    </div>
                    </div>
            </div>
        </div>
    </section>
    