<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

    {{ partial "hero_section.html" . }}
    <div class="" id="{{ .Params.anchor }}">
        <div id="react-news"></div>
    </div>
    
    <div class="more-news">
        <a href='https://medium.com/nav-coin' class="btn btn-purple" target="e">Read More on Medium</a>
    </div>
    {{partial "footer.html" . }}

    <!-- React components. -->
    <script src="/js/react/vendor.bundle.js"></script>
    <script src="/js/react/news.js"></script>
    </body>
</html>
