.big-text {
  font-size: 1.4em;
  line-height: 1.7em;
  text-align: left;
  width: 700px;
  font-family: Roboto;
  font-weight: 300;
  color: #6a737d;
  margin: 0 auto;
  font-size: 26px;
  line-height: 39px;
}
