.community-channels {
  h2 {
    text-align: center;
  }
}
.community-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.community-tile {
  padding: 40px;
}
