.divider {
  margin: 40px 0;
  text-align: center;
  span {
    height: 8px;
    width: 100px;
    display: inline-block;
    background-color: #7D5AB5;
    border-radius: 10px;
    display: block;
    margin: 1.5em auto;
    height: 5px;
    width: 100px;
  }
}
