.blog-grid {
  padding-top: 60px;
  display: grid;
  grid-template-columns: minmax(800px, 1fr) 350px;
  grid-gap: 20px 30px;
  grid-auto-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  .blog-item {
    width: 90vw;
    max-width: 800px;  
    margin: 0 auto;
    .news-content {
      margin-top: 25px;
    }
    h2 {
      margin: 60px 0 35px 0;
    }
    h3 {
      margin: 16px 0 12px 0;
      font-size: 24px;
      line-height: 28px;
    }
    a, a:visited {
      text-decoration: underline;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      color: #7a7a7a ;
      &:hover, &:active {
        color: #7d5ab5;
      }
    }

  }
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 50px;
    .widget {
      max-width: 350px;
      h3 {
        margin: 20px 0 15px 0;
      } 
    }
    
    ul {
      li {
        position: relative;
        
        &.cat-item a {
          font-weight: 400;
          text-transform:capitalize;
          border-bottom: 1px solid #e4e4e4;
          padding: 15px 0;
          position: relative;
        }
        a {
          color: #222222;
          font-weight: 400;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          display: block;
          &:hover {
            color: #7d5ab5;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    .sidebar {
      padding-right: 10px;
      .widget {
        width: 90vw;
        max-width: 800px;  
        margin: 0 auto;
      }
    }
  }
}

.recent-posts li {
  display: none;
  &:nth-child(1) {
    display: block;
  }
  &:nth-child(2) {
    display: block;
  }
  &:nth-child(3) {
    display: block;
  }
  &:nth-child(4) {
    display: block;
  }
  &:nth-child(5) {
    display: block;
  }
  &:nth-child(6) {
    display: block;
  }
  &:nth-child(7) {
    display: block;
  }
  &:nth-child(8) {
    display: block;
  }
  &:nth-child(9) {
    display: block;
  }
  &:nth-child(10) {
    display: block;
  }
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 50px;
  min-width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
  }

  li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: white;
  }
  li {
    background-color: white;
    font-weight: 500;
    font-size: 20px;
  }
  li:hover:before,
  li.open:hover:before {
    width: 100%;
  }

  li a, li a:visited {
    color: #333;
    display: block;
    text-decoration: none;
    padding: 28px 11px 10px 40px;
  }

  li a:hover,
  li a:active,
  li a:focus,
  li.open a:hover,
  li.open a:active,
  li.open a:focus{
    color: #7d5ab5;
    text-decoration: none;
    background-color: transparent;
  }

  >.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
  }
  .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #c42bb7;
    box-shadow: none;
  }
}
