.text-block{
    h3{
        font-family: Roboto;
        font-weight: 500;
        font-size: 23px;
        text-align: center;
        color: #24292e;
        line-height: 30px;
        //padding-top: 3em;
    }
    p{
        max-width: 700px;
        font-family: Roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        color: #24292e;
        margin: 0 auto;
    }
}