<div class="homepage-call-to-action">
    <h1>Not ready to dive in just yet?</h1>
    <h3>Sign up to our social channels to stay up to date with the latest projects & news.</h3>
    <div class="button-container">
        <a href="https://discordapp.com/invite/y4Vu9jw" class="btn btn-white">Join on Discord</a>
        <a href="https://twitter.com/navcoin?lang=en" class="btn btn-white">Follow on Twitter</a>
        <a href="https://www.facebook.com/NavCoin/" class="btn btn-white">Like on Facebook</a>
        <a href="https://navcoin.org/" class="btn btn-white">Learn about NavCoin</a>
    </div>
</div>
