<div class="ninety-vw-container home-page-card-section homepage-events-section">
    <div class="title-container">
        <h2>Events</h2>
        <a href="/events">See all events <img src="/images/icons/rightward-arrow-grey.png" alt=""></a>
    </div>
    <div class="card-container">

        {{ $list := .Site.Pages.ByDate.Reverse}}
        {{ $count := 0 }}
        {{ range $index, $element := $list }}
            {{ if (and (hasPrefix $element.Dir "events") (ne $element.Dir "events/" )) }}
                {{ if lt $count 4 }}
                {{ partial "home/event_card.html" . }}
                    {{ $count = add $count 1 }}
                {{ end }}
            {{ end }}
        {{ end }}

    </div>
</div>
