<div class="get-started-section" id="get-involved">
    <h1>Keen to get involved?</h1>
    <h2>NavCoin is worked on by a community of people - just like you. You don’t have to be a developer to get involved - there are a lot of ways to help out!</h2>
    <div class="grid-container ninety-vw-container">
        <div class="grid-item">
            <a href="/guides/projects">
                <img src="/images/icons/circle-computer-tick.png" alt="computer">
                <h2 class="tile-heading">Development</h2>
                <span>Contribute to existing software or start your own project.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/events">
                <img src="/images/icons/circle-calendar.png" alt="calendar">
                <h2 class="tile-heading">Events</h2>
                <span>Organise a NavCoin event in your own neighbourhood.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/news">
                <img src="/images/icons/purple-newspaper.png" alt="newspaper">
                <h2 class="tile-heading">News</h2>
                <span>Keep the community up to date with the NavCoin projects you're working on.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/design">
                <img src="/images/icons/icon_pack_purple-beekart.png" alt="paint brush">
                <h2 class="tile-heading">Design</h2>
                <span>Create images for sharing on social media, infographics, stickers and more.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/promote/">
                <img src="/images/icons/purple-pricetag.png" alt="price tag">
                <h2 class="tile-heading">Promotion</h2>
                <span>Become a NavCoin social influencer and help spread the word.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/strategy/">
                <img src="/images/icons/purple-lightbulb.png" alt="lightbulb">
                <h2 class="tile-heading">Strategies</h2>
                <span>Coordinate promotional activities for NavCoin online or in the real world.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/testing">
                <img src="/images/icons/purple-package.png" alt="shipping package">
                <h2 class="tile-heading">Testing</h2>
                <span>Help to find bugs in NavCoin projects and work with developers to fix them.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/guides/community">
                <img src="/images/icons/purple-two-people.png" alt="two people">
                <h2 class="tile-heading">Community Support</h2>
                <span>Help other community members by answering their questions.</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="https://github.com/NavCoin/NavHub" target="e">
                <img src="/images/icons/purple-graph.png" alt="upward graph">
                <h2 class="tile-heading">Improve Navhub</h2>
                <span>Add features, fix bugs or translate this website into your native language.</span>
            </a>
        </div>
    </div>
    <a href="/guides" class="btn btn-purple">
        Get started&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
