<div class="get-started-section">
    <h1>Get started</h1>
    <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, onsetetur sadipscing elitr,sadipscing elitr,</h2>
    <div class="grid-container ninety-vw-container">
        <div class="grid-item">
            <a href="/projects">
                <img src="/images/icons/circle-computer-tick.png" alt="computer">
                <h2>Developments</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/events">
                <img src="/images/icons/circle-calendar.png" alt="calendar">
                <h2>Events</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/news">
                <img src="/images/icons/purple-newspaper.png" alt="newspaper">
                <h2>News</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/assets">
                <img src="/images/icons/icon_pack_purple-beekart.png" alt="paint brush">
                <h2>Design</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/events">
                <img src="/images/icons/purple-pricetag.png" alt="price tag">
                <h2>Promotions</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/">
                <img src="/images/icons/purple-lightbulb.png" alt="lightbulb">
                <h2>Strategies</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/">
                <img src="/images/icons/purple-package.png" alt="shipping package">
                <h2>Testing</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/">
                <img src="/images/icons/purple-two-people.png" alt="two people">
                <h2>Community Support</h2>
                <span>subtext</span>
            </a>
        </div>
        <div class="grid-item">
            <a href="/">
                <img src="/images/icons/purple-graph.png" alt="upward graph">
                <h2>Improve Navhub</h2>
                <span>subtext</span>
            </a>
        </div>    
    </div>
    <a href="" class="btn btn-purple">Get started <img src="{{ .Params.buttonImageSrc }}" class="btn-img"> </a>

</div>