<section>
    <div class="our-service-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-slider-section">

                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="images/service/icon-4.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Fast Transactions</h3>
                                    <p class="themeix-para-style">No need to wait 10 minutes. Send NAV anywhere on the planet instantly and have it confirmed within 30 seconds.</p>
                                </div>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="images/service/icon-3.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Energy Efficient</h3>
                                    <p class="themeix-para-style">Nav Coin uses Proof of Stake which only consumes a fraction of the energy used to mine using Proof of Work.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="service-main">
                                <div class="servic-icon">
                                    <img src="images/service/icon-2.png" alt="services">
                                </div>
                                <div class="service-content">
                                    <h3 class="themeix-sub-title">Private Payments</h3>
                                    <p class="themeix-para-style">Optionally send private transactions through the open source NavTech private payment platform.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
