<div class="home-page-card-section homepage-news-section ninety-vw-container">
    <div class="title-container">
        <h2>Community News and stories</h2>
        <a href="/news">See all news <img src="/images/icons/rightward-arrow-grey.png" alt=""></a>
    </div>
    <div class="card-container">
        {{ $list := .Site.Pages}}
        {{ $sorted := sort $list "Params.date" "desc" }}
        {{ $count := 0 }}

        {{ range $index, $element := $sorted }}
            {{ if (hasPrefix $element.Dir "news") }}
                {{ if lt $count 4 }}
                    {{ partial "home/news_card.html" . }}
                    {{ $count = add $count 1 }}
                {{ end }}
            {{ end }}
        {{ end }}

    </div>
</div>