<div class="home-page-card-section homepage-news-section ninety-vw-container">
    <div class="title-container">
        <h2>Community News and stories</h2>
        <a href="/news">See all news <img src="/images/icons/rightward-arrow-grey.png" alt=""></a>
    </div>
    <div class="card-container">
        {{ partial "home/news_card.html" . }}
        {{ partial "home/news_card.html" . }}
        {{ partial "home/news_card.html" . }}
        {{ partial "home/news_card.html" . }}
    </div>
</div>