<div class="home-page-card-section homepage-projects-section ninety-vw-container">
    <div class="title-container">
        <h2>Community Projects</h2>
        <a href="/projects">See all projects <img src="/images/icons/rightward-arrow-grey.png" alt=""></a>
    </div>
    <div class="card-container">
        {{ partial "home/project_card.html" . }}
        {{ partial "home/project_card.html" . }}
        {{ partial "home/project_card.html" . }}
        {{ partial "home/project_card.html" . }}
    </div> 
</div>