<!-- scrollUP button -->
<a id="scrollUp" href="#"></a>
<!-- end scrollUP button -->

<!-- jquery main framwork -->
<script src="{{ "js/vendor/jquery-1.12.0.min.js" | relURL }}"></script>

<!-- bootstrap framwork js -->
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>


<!-- owl carousel js -->
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>

<!-- All plugin js -->
<script src="{{ "js/plugins.js" | relURL }}"></script>

<!-- scrollUp js -->
<script src="{{ "js/scrollUp.min.js" | relURL }}"></script>

<!-- smoothscroll.js -->
<script src="{{ "js/smooth-scroll.min.js" | relURL }}"></script>

<!-- zenith slider js -->
<script src="{{ "js/zenith.min.js" | relURL }}"></script>

<!-- waterwheelCarousel js -->
<script src="{{ "js/jquery.waterwheelCarousel.min.js" | relURL }}"></script>

<!-- Magnify popup js -->
<script src="{{ "js/jquery.magnific-popup.min.js" | relURL }}"></script>

<!-- Theme all active js -->
<script src="{{ "js/main.js" | relURL }}"></script>