<nav class="navbar navbar-inverse navbar-static-top role="navigation">

    <div class="container">

        <div class="navbar-header">
       
            <button class="navbar-toggler collapsed" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbar-content" 
                    aria-controls="navbar-content"
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbar-content">      

            <ul class="nav navbar-nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} nav-dropdown">
                <span class="nav-top-item">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                    <span class="fa fa-angle-double-down"></span>
                </span>
                <ul class="sub-menu">
                    {{ range .Children }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}"><span class="fa fa-angle-right"></span>{{ .Name }}</a>
                    {{ end }}
                </ul>
                {{else}}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{.URL}}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                    {{end}}
                    {{end}}
                </li>

                {{ range $.Site.Home.AllTranslations }}
                    <!--<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>-->
                {{ end }}

            </ul>

        </div>

    </div>

</nav>
