<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="themeix">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5G8TV7K');</script>
    <!-- End Google Tag Manager -->
    <!-- favi icon -->
    <link rel="shortcut icon" href="/images/favicon-1.png">
    <!-- Site Title -->
    <title>{{ .Title }}</title>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Roboto">

    <!-- font awesome css -->
    <link rel="stylesheet" href='{{ "css/font-awesome.min.css" | relURL }}'>


    <!-- owl carousel css -->
    <link rel="stylesheet" href='{{ "css/owl.carousel.css" | relURL }}'>

    <!-- animate CSS -->
    <link rel="stylesheet" href='{{ "css/animate.min.css" | relURL }}'>

    <!-- Magnific CSS -->
    <link rel="stylesheet" href='{{ "css/magnific-popup.css" | relURL }}'>

    <!-- Theme main css -->
    <link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>

    <!-- responsive css -->
    <link rel="stylesheet" href='{{ "css/responsive.css" | relURL }}'>


    <link rel="stylesheet" href='{{ "css/nav.css" | relURL }}'>

    <!-- Place this data between the <head> tags of your website -->
    <title>NavCoin Community Hub</title>
    <meta name="description" content="NavCoin is a community initiative and the Community Hub will help you learn about the range of NavCoin projects, and how you can get involved." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="NavCoin Community Hub">
    <meta name="twitter:description" content="NavCoin is a community initiative and the Community Hub will help you learn about the range of NavCoin projects, and how you can get involved.">
    <meta name="twitter:image" content="/images/social-share.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="NavCoin Community Hub" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://navcore.org/" />
    <meta property="og:image" content="/images/social-share.png" />
    <meta property="og:description" content="NavCoin is a community initiative and the Community Hub will help you learn about the range of NavCoin projects, and how you can get involved." />

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G8TV7K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</head>
