
<header id="stickey-menu">
    <div class="main-menu">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-sm-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed custom-toggle" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
                            <i class="fa fa-bars fa-lg"></i>
                        </button>
                        <div class="logo-brand">
                            <a href="">
                                <img src="/assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="header-menu">
                        <nav>
                            <ul class="nav navbar-nav">
                                {{ $currentPage := . }}
                                {{ range .Site.Menus.main }}
                                {{ if .HasChildren }}
                                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                <a href="#">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                                <ul class="sub-menu">
                                    {{ range .Children }}
                                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                    {{ end }}
                                </ul>
                                {{else}}
                                <li>
                                    <a href="{{.URL}}">
                                        {{ .Pre }}
                                        <span>{{ .Name }}</span>
                                    </a>
                                    {{end}}
                                    {{end}}
                                </li>
                                <li>
                                    <a href="#" target="blank">Hardcoded Link 1</a> </li>
                                <li>
                                    <a href="#" target="blank">Hardcoded Link 2</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</header>


