<!-- main menu area -->
<header class="stickey fixed" id="header">
   <nav class="main-menu navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed custom-toggle" role="button" data-toggle="tooltip" data-placement="left" data-original-title="Navigation" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><i class="fa fa-bars fa-lg"></i>
            </button>
            <div class="logo-brand">
               <a href="/">
                  <img src="{{ "images/nav-logo.png" | relURL }}" alt="logo">
               </a>
            </div>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            {{ template "theme/partials/header_menu.html" . }}
         </div>
         <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
   </nav>
</header>
