<!DOCTYPE html>
<html>


{{ template "theme/partials/head.html" . }}

<body data-spy="scroll" data-target="#header-menu">

{{ template "theme/partials/header_three_title.html" . }}


<div class="appix-blog-content section-ptb-2">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                {{ .Content }}
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-9">

                <h3>Projects in Progress - Order by progress</h3>
                <div class="projects-card-container">
                    {{range (.Site.Pages.ByParam "percent_complete").Reverse }}
                        {{ if (.Params.in_progress) }}
                            {{ partial  "project_card_in_progress.html" . }}
                        {{end}}
                    {{end}}
                </div>

                <h3>Upcoming Projects</h3>

                <div class="projects-card-container">
                    {{range .Site.Pages }}
                        {{ if (eq .Type "project") }}
                        {{ if (not .Params.in_progress) }}
                            {{ if (not .Params.order_page) }}
                                {{ partial "project_card_planning.html" . }}
                            {{end}}
                        {{end}}
                        {{end}}
                    {{end}}
                </div>

            </div>

            <div class="col-md-3 project-sidebar">
                {{ partial "projects_sidebar.html" . }}
            </div>
        </div>



    </div>
</div>


<!-- start get appix now -->
<section id="get-apps" class="get-appix-setion section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themeix-section-heading-title">
                    <h2 class="head-title">Get NavCoin Now</h2>
                    <p class="light-300">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="display-middle">
                    <div class="table-middle">
                        <a href="https://navcoin.org/downloads" target="_blank" class="play-store-button">
                            <!--<i class="fa fa-android"></i> -->
                            Download NavCoin</a>
                        <a href="https://navcoin.org/getting-started/" target="_blank" class="play-store-button itune-change-bg-color"> Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end get appix now -->
{{ template "theme/partials/footer.html" . }}

</body>
</html>