<div class="project-card" style="background-color: {{.Params.card_color}}; color: {{.Params.font_color}} !important">

  <div class="row">
    <div class="col-xs-9">
      <h3 class="card-title">
        {{ .Title }}
      </h3>
    </div>
    <div class="col-xs-3">
      {{ if .Params.allow_click_through }}
      <a href="{{.Permalink}}" class="click-through">More <span class="fa fa-chevron-right project-more"></span></a>
      {{end}}
    </div>
  </div>

    <div class="progress">
        <div class="progress-bar progress-bar-info"
             style="width: {{.Params.percent_complete}}%"
             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{.Params.percent_complete}}%</div>
    </div>
    <div style="color: {{.Params.font_color}} !important; " class="project-desc">{{ .Params.description}}</div>
    <div class="info-links">

        {{ if (isset .Params "author") | ( not (eq .Params.author "")) }}
        <label class="card-author">
          <span class="card-author-subhead">Project Lead</span>
          <span class="card-author-name"> {{ .Params.author}}</span>
        </label>
        {{ end}}

        {{ if (isset .Params "twitter_url") | ( not (eq .Params.twitter_url "")) }}
        <a href="{{.Params.twitter_url}}" target="_blank"><label><i class="fa fa-twitter"></i></label></a>
        {{end}}

        {{ if (isset .Params "github_url") | ( not (eq .Params.github_url "")) }}
        <a href="{{.Params.github_url}}" target="_blank"><label><i class="fa fa-github"></i></label></a>
        {{end}}

        {{ if (isset .Params "reddit_url") | ( not (eq .Params.reddit_url "")) }}
        <a href="{{.Params.reddit_url}}" target="_blank"><label><i class="fa fa-reddit"></i></label></a>
        {{end}}

        {{ if (isset .Params "project_url") | ( not (eq .Params.project_url "")) }}
        <a href="{{.Params.project_url}}" target="_blank"><label><i class="fa fa-link"></i></label></a>
        {{end}}
    </div>
</div>
