<div class="project-card" style="background-color: {{.Params.card_color}}; color: {{.Params.font_color}} !important; ">
  <div class="bg-container">
    <img src="{{.Params.bg_image}}" class="background-image" />
  </div>
  {{ if (isset .Params "author") | ( not (eq .Params.author "")) }}
  <label class="card-author">
    <span class="card-author-subhead">Project Lead</span>
    <span class="card-author-name"> {{ .Params.author}}</span></label>
  {{ end}}
  {{ if (eq .Params.beta_testing true) }}
  <label class="card-author card-status">
    <span class="card-author-subhead">Status</span>
    <span class="card-author-name">Beta Testing</span></label>
  {{ end}}
  <div class="bg-overlay" style="background-color: {{.Params.card_color}};"></div>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="card-title">
          {{ .Title }}
        </h3>
      </div>
    </div>

    <div style="color: {{.Params.font_color}} !important; " class="project-desc">{{.Params.description}}</div>
    <div class="info-links">

        {{ if (isset .Params "twitter_url") | ( not (eq .Params.twitter_url "")) }}
        <a href="{{.Params.twitter_url}}" target="_blank"><label><i class="fa fa-twitter"></i></label></a>
        {{end}}

        {{ if (isset .Params "github_url") | ( not (eq .Params.github_url "")) }}
        <a href="{{.Params.github_url}}" target="_blank"><label><i class="fa fa-github"></i></label></a>
        {{end}}

        {{ if (isset .Params "reddit_url") | ( not (eq .Params.reddit_url "")) }}
        <a href="{{.Params.reddit_url}}" target="_blank"><label><i class="fa fa-reddit"></i></label></a>
        {{end}}

        {{ if (isset .Params "project_url") | ( not (eq .Params.project_url "")) }}
        <a href="{{.Params.project_url}}" target="_blank"><label><i class="fa fa-link"></i></label></a>
        {{end}}

        {{ if .Params.allow_click_through }}
        <a href="{{.RelPermalink}}" class="click-through themeix-btn bg-change smoothScroll">Read More <span class="fa fa-chevron-right project-more"></span></a>
        {{end}}
    </div>
</div>
