<!DOCTYPE html>
<html>


{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#header-menu">

  {{ partial "header_three_title.html" .  }}

  <div class="row">
    <div class="col-sm-12">
      <div class="news-content" style="margin-bottom: 0px; margin-top: 2px;">
        <div style="background-color: #7d5ab5;">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-pb" style="padding: 40px 0;">
                        <div class="col-md-6">
                            <div class="about-appix-left-img" style="padding: 0; margin-top: 10px;">
                                <img src="/images/icons/icon-n-purple-large.png" style="max-height: 400px;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-appix-right-content">
                                <h2 class="themeix-title-h1" style="color: #FFF">NavCoin Projects</h2>
                                <div class="para-mb" style="color: #FFF">
                                  <p>There is a whole eco-system of software which developers have created to operate on or alongside the NavCoin protocol. All software the NavCoin Core developers create is also free and open-source.</p>
                                  <p>Here you can find more information about all the awesome projects which have been, or are being built by the NavCoin community.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}

  <div style="background-color: #FAFAFA; border-bottom: 1px solid #CCC;">
    <div class="container">
      <div class="about-pb" style="padding: 10px 0;">
        <div style="text-align: left;">
            <div class="about-appix-right-content">
                <div style="color: #7A7A7A"><a href="/projects">All Projects</a> / <span style="text-transform: capitalize">{{ $lastUrlElement }}</span></div>
            </div>
        </div>
    </div>
  </div>
</div>



  <div class="container" style="margin-bottom: 50px;">

        <div class="row">
          <div class="col-sm-3 project-sidebar">
             {{ partial "projects_sidebar.html" . }}
          </div>
            <div class="col-sm-9">

                <div class="projects-card-container">
                    {{range .Data.Pages.ByWeight }}
                        {{ if and (.Params.completed) (.Params.show_on_projects) }}
                                {{ partial "project_card_planning.html" . }}
                        {{end}}
                    {{end}}

                    {{range .Data.Pages.ByDate.Reverse}}
                        {{ if and (.Params.in_progress) (.Params.show_on_projects) }}
                            {{ partial  "project_card_in_progress.html" . }}
                        {{end}}
                    {{end}}

                    {{range .Data.Pages}}
                        {{ if and (not .Params.in_progress) (not .Params.completed) (.Params.show_on_projects) }}
                            {{ if (not .Params.order_page) }}
                                {{ partial "project_card_planning.html" . }}
                            {{end}}
                        {{end}}
                    {{end}}
                </div>

            </div>


        </div>



    </div>


    {{ partial "footer.html" .  }}

</body>
</html>
