<!DOCTYPE html>
<html>


{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#header-menu">

  {{ partial "header_three_title.html" .  }}

  <div class="row">
    <div class="col-sm-12">
      <div class="news-content" style="margin-bottom: 0px; margin-top: 2px;">
          {{ .Content }}
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 50px;">

        <div class="row">
            <div class="col-sm-9">

                <div class="projects-card-container">
                    {{range .Site.Pages.ByWeight  }}
                        {{ $project := .}}
                        {{ if .Params.completed }}

                            {{ if and (.Params.completed) (.Params.show_on_projects) }}

                              {{range .Params.project_categories }}
                                {{ if (eq . "Wallets")  }}
                                {{ partial "project_card_planning.html" $project }}
                                {{end}}
                              {{end}}

                            {{end}}
                        {{end}}
                    {{end}}
                </div>

            </div>

            <div class="col-sm-3 project-sidebar">
                {{ partial "projects_sidebar.html" . }}
            </div>
        </div>



    </div>


    {{ partial "footer.html" .  }}

</body>
</html>
