<div>
    <h3 >{{ .Title }}</h3>

    <div>{{.Summary}}</div>
    <div class="info-links">

        {{ if (isset .Params "author") | ( not (eq .Params.author "")) }}
        <label class="card-author">{{ .Params.author}}</label>
        {{ end}}

        {{ if (isset .Params "twitter_url") | ( not (eq .Params.twitter_url "")) }}
        <a href="{{.Params.twitter_url}}" target="_blank"><label><i class="fa fa-twitter"></i></label></a>
        {{end}}

        {{ if (isset .Params "github_url") | ( not (eq .Params.github_url "")) }}
        <a href="{{.Params.github_url}}" target="_blank"><label><i class="fa fa-github"></i></label></a>
        {{end}}

        {{ if (isset .Params "reddit_url") | ( not (eq .Params.reddit_url "")) }}
        <a href="{{.Params.reddit_url}}" target="_blank"><label><i class="fa fa-reddit"></i></label></a>
        {{end}}

        {{ if (isset .Params "project_url") | ( not (eq .Params.project_url "")) }}
        <a href="{{.Params.project_url}}" target="_blank"><label><i class="fa fa-link"></i></label></a>
        {{end}}
    </div>
</div>