

.news-content ul {

    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;

    color: #777777;
    font-size: 16px;
    line-height: 24px;

}


.main-slider-overlay {
    background: -moz-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(68, 178, 233, 0.88)), color-stop(100%, rgb(197, 41, 181)), color-stop(100%, rgb(197, 41, 181)));
    background: -webkit-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
    background: -o-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
    background: -ms-linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);
    background: linear-gradient(45deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 100%);

}


.bg-gradient {
    background: -moz-linear-gradient(35deg, rgb(197, 41, 181) 0%, rgb(68, 178, 233) 100%);
    /* ff3.6+ */

    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(197, 41, 181)), color-stop(100%, rgb(68, 178, 233)));
    /* safari4+,chrome */

    background: -webkit-linear-gradient(35deg, rgb(197, 41, 181) 0%, rgb(68, 178, 233) 100%);
    /* safari5.1+,chrome10+ */

    background: -o-linear-gradient(35deg, rgb(197, 41, 181) 0%, rgb(68, 178, 233) 100%);
    /* opera 11.10+ */

    background: -ms-linear-gradient(35deg, rgb(197, 41, 181) 0%, rgb(68, 178, 233) 100%);
    /* ie10+ */

    background: linear-gradient(55deg, rgb(197, 41, 181) 0%, rgb(68, 178, 233) 100%);
    /* w3c */

}

.page-header-bg {
    height: auto;
}

.vert-10 {
    height: 10px;
}

.icon-block {
    display: inline-block;
    margin-right: 15px;
    figcaption p {
        text-align: center;
    }
}

.play-store-button {
    padding: 18px 25px !important;


}

.play-store-button:after {
    content: "";
}


.projects-card-container {

    display: flex;
    flex-wrap: wrap;

    .project-card {
        margin: 15px 15px 0 0;
        padding: 0 20px 10px 20px ;
        max-width: 400px;

    }

}

.info-links {

    display: flex;
    align-items: center;


    label {
        cursor: pointer;

        &.card-author {
            font-size: 12px;
            padding: 6px 10px;
        }

        i {
            padding:10px;
        }

        margin-right: 5px;
        background-color: hsla(0, 0%, 13%, 0.5);;
        color: #fff;
    }

}
