/* Normal Desktop:1366px */
@media(min-width: 1170px) and (max-width: 1400px){
    .navbar-nav li a {
	padding: 12px 13px;
}
  /* conta us */
.change-color{
	color: #fff;
} 
.about-appix-left-img{
	margin-top: 95px;
} 
.first-skew-sub-1, .first-skew-sub-2, .first-skew-bg {
	transform-origin: 581% 50%;
}
span.price-tag {
  right: -100px;
  top: 40px;
}

}

/* Normal desktop:992px  */
@media(min-width: 992px) and (max-width: 1169px){
.navbar-nav li a {
		padding: 12px 13px;
		font-size: 15px;
	 
		text-transform: uppercase;
		display: block;
		transition: all 0.5s ease-in-out;
		font-weight: 700;
}
.themeix-sub-title::after {
	position: absolute;
	content: "";
	height: 3px;
	left: 48%;
	top: 40px;
	width: 4%;
	background: #ffffff;
	text-align: center;
	margin: 0 auto;
}
/* conta us */
.change-color{
	color: #fff;
}
.first-skew-sub-1, .first-skew-sub-2, .first-skew-bg {
	transform-origin: 684% 50%;
}
span.price-tag {

  right: -105px;
  top: 30px;

}
}

/* Tablate layout:768px  */
@media(min-width: 768px) and (max-width: 991px){

/* slider design */
.caption-area {
	text-align: center;
	margin-top: 52px;
}
.first-skew-sub-1, .first-skew-sub-2, .first-skew-bg {
	transform-origin: 977% 50%;
}
/* menu design */
.navbar-nav li a {
	padding: 4px 12px;
}
/* about appix*/
.about-appix-right-content{
	text-align: center;
}
.about-pb {
	padding-top: 100px;
	padding-bottom: 70px;
}
.about-appix-left-img img{
	text-align: center;
    margin: 0 auto;
}
.about-pb {
	padding-top: 44px;
	padding-bottom: 70px;
}
/* exclusive feature */
.padd-minus{
    padding: 12px 0px!important;        
}
/* testimonials */
.pb-120 {
	padding-bottom: 60px;
}
.pt {
	padding-top: 30px;
}
.pb-70 {
	padding-bottom: 0px;
}
/* pricing table */
.single-pricing > h2 {
	font-size: 25px;
}

span.dollar-rate {
	font-size: 40px;
	line-height: 70px;
}
ul.pricing-features > li {
	font-size: 14px;
}
.themeix-button-group .active-bg {
	padding: 14px 32px !important;
}
.themeix-button-group .themeix-btn {
	margin-right:0;
}
.price-btn-cust, .active-bg {
	padding: 14px 32px !important;
}
/* conta us */
.change-color{
	color: #fff;
}
#carousel {
	height: 800px;
	display: relative;
	margin-top: -122px;
}
.phone-holder {
	width:100%;
}
.feature-content .themeix-feature-title {
	font-size:18px;
}
.feature-icon i {
	margin-right:10px;
}
span.price-tag {

  right: -75px;
  top: 26px;

}
.share-icon span {
	display:none;
}
.hgi {
  height: 410px;
  left: 12px;
  position: absolute;
  text-align: center;
  top: 58px;
  visibility: hidden;
  width: 220px;
}


}

/* Small mobile:320px  */
@media (max-width: 767px){

.main-menu .navbar-nav li a:hover {
	background-color:transparent;
}
 
 
/* slider area */
.first-skew-sub-1{
        display: none;
    }
.caption-area {
    padding: 87px 0;
    text-align: center;
}
.caption-area .caption-heading {
	line-height: 56px;
	margin-bottom: 40px;
} 
.caption-area .caption-para {
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 36px;
}
h1 {
	font-size: 40px;
}
.themeix-button-group .themeix-btn {
	margin-bottom: 12px;
}
/* about appix */
.themeix-section-heading-title .light-300 {
    padding: 0 0px;
}
.about-appix-right-content{
    text-align: center;
}
.themeix-title-h1 {
	font-size: 26px;
	line-height: 35px;
}
.para-mb {
	margin-bottom: 40px;
	font-size: 14px;
}
.about-appix-right-content{
    text-align: center;
}
.about-pb {
	padding-top: 42px;
	padding-bottom: 20px;
	overflow: hidden;
}
    
/* exclusive feature*/
.themeix-section-heading-title h2{
    font-size: 30px;
}
.feature-content{
     margin-bottom: 36px;
}
/* youtube area */
.youtube .play-button, .youtube .play-button::before {
	left: 38%;
	top: 30%;
	text-align: center;
}
/* our testimonial */
.content-section {
	padding: 15px;
}
.content-section p::after {
	right: -23px;
	bottom: 134px;
	
}
/* get appix now */
    .play-store-button {
	padding: 18px 5px;
	 margin-right: 0px; 
	
}
.play-store-button {
	padding: 18px 5px;
	margin-right: 0px;
	display: block;
	margin-top: 20px;
}
.pb-50 {
    padding-bottom: 0px;
}
.pb-100 {
	padding-bottom: 58px;
}
.pt {
	padding-top: 60px;
}
.padd-minus{
    padding: 0px 0px!important;        
}
 
.main-menu ul.navbar-nav li a:hover{
	color: #F86A90;
}

.stickey .main-menu ul li a:hover{
    color: #F86A90 !important;
}
.custom-toggle i{
	color:#424242;
}

span.price-tag {
	right:-110px;
}
.about-section .themeix-section-heading-title {
	padding-top:20px;
}
span.price-tag {
 display:none;
}
.about-section.pt-50 {
	padding-top:20px;
}
.themeix-section-heading-title .light-300 {
	margin-top:0;
}
.themeix-section-heading-title .themeix-title-a-b-col-change::after {
	content:none;
}
.themeix-section-heading-title .themeix-title-a-b-col-change::before {
	content:none;
}
.play-store-button i {
	font-size:50px;
}
.play-store-button::after {
	font-size:10px;
}
 
.overlay-color.pt-70 {
	padding-top:20px;
}
.themeix-section-heading-title .head-title::before {

	content:none;
}
.themeix-section-heading-title .head-title::after {

	content:none;
}
.main-menu {
	border-bottom:medium none;
}
.display-middle{
	padding:0;
}
.themeix-button-group {
	display:inline-block;
}
.share-icon {
	float:right;
	padding-top:15px;
}
.blog-item .share-icon {
	padding-top:0;
}

.social-icon li a {
	width:30px;
}
.share-icon span {
	display:none;
}
.appiex-blog-content .desc-hidden {
	display:none;
}
.image-dawo {
	display:none;
}

.themeix-dark-home-page .about-appix-left-img img {
	margin-left:0;
}
.blog-meta {
	width:100%;
}
.tag-clouds {
  padding-bottom: 20px;
  padding-top: 10px;
}
.next-blog-post {
  width:100%;
  float:none;
  padding:0;
  text-align:left;
}
.previous-blog-post {
  float: none;
  padding-right: 0;
  width: auto;
}

}

/* Large mobile layout */
@media(min-width: 480px) and (max-width: 767px){
    
  .single-pricing {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width:330px;
}
.share-icon span {
	display:inline-block;
}
.image-dawo {
	display:block;
}



}

