<footer>
    <div class="footer-main">
        <div class="footer-group">
            <div class="footer-title">
                <h3>Links</h3>
            </div>
            <div class="footer-content">
                <ul>
                    <li><a href="https://www.navcoin.org" target="_blank">NavCoin.org</a></li>
                    <li><a href="https://github.com/NAVCoin">GitHub</a></li>
                    <li><a href="https://chainz.cryptoid.info/nav/">Block Explorer - CryptoID</a></li>
                    <li><a href="https://www.navexplorer.com">Block Explorer - NavExplorer</a></li>
                    <li><a href="https://info.navcoin.org/">Knowledge Base</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-group">
            <div class="footer-title">
                <h3>Content</h3>
            </div>
            <div class="footer-content">
                <ul>
                    <li><a href="/" target="_blank">Home</a></li>
                    <li><a href="/get-started" target="_blank">Get Started</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/navcoin-heroes">NavCoin Heroes</a></li>
                    <li><a href="/assets">Community Assets</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-group">
            <div class="footer-title">
                <h3>Legal</h3>
            </div>
            <div class="footer-content">
                <ul>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-of-use">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <p>NavCoin released under the <a href="https://opensource.org/licenses/mit-license.php">MIT license</a></p>
        <div class="themeix-social-area">
            <a class="themeix-tool" href="https://twitter.com/NavCoin">
                <i class="fa fa-twitter"></i>
                <div id="colorbox" class="themeix-color twitter-color"></div>
            </a>
            <a class="themeix-tool" href="https://www.facebook.com/NavCoin/">
                <i class="fa fa-facebook"></i>
                <div id="colorboxs" class="themeix-color facebook-color"></div>
            </a>
            <a class="themeix-tool" href="https://www.reddit.com/r/NavCoin">
                <i class="fa fa-reddit"></i>
                <div id="colorboxss" class="themeix-color reddit-color"></div>
            </a>
        </div>
    </div>
</footer>


<!-- scrollUP button -->
<!-- <a id="scrollUp" href="#"></a> -->
<!-- end scrollUP button -->

<!-- jquery main framwork -->
<script src="{{ "js/vendor/jquery-3.3.1.min.js" | relURL }}"></script>


<!-- All plugin js -->
<script src="{{ "js/plugins.js" | relURL }}"></script>

<!-- scrollUp js -->
<!-- <script src="{{ "js/scrollUp.min.js" | relURL }}"></script> -->

<!-- smoothscroll.js -->
<script src="{{ "js/smooth-scroll.min.js" | relURL }}"></script>

<!-- Theme all active js -->
<script src="{{ "js/main.js" | relURL }}"></script>
