<div class="guides-stickey">
  <h2 class="guides-menu-title">Guide Categories</h2>
  <ul>
    <li class="guides-page">
      <a href="/guides"><h4>Guides Overview</h4></a>
    </li>
    {{ range $page := where .Site.Pages "Params.page_type" "guide" }}
    <li class="guides-page">
      <a href="{{ .Permalink}}"><h4>{{ .LinkTitle }}</h4></a>
      <ul>
        {{ range $section := .Params.sections }}
        <li><a href="{{ $page.Permalink}}#{{ $section | urlize }}">{{ $section }}</a></li>
        {{ end }}
      </ul>
      
    </li>
    {{end}}
  </ul>
</div>
