<div class="hero-section">
    <div class="image-container">
        <img src="{{ .Params.imageSrc }}" class="hero-img">
    </div>
    <div class="text-section-container">
        <h1 class="">{{ .Params.titleText}}</h1>
        <div class="paragraph-text">{{ .Content | safeHTML}}</div>
        {{ if (isset .Params "buttonText") }}
            <div>
                <a href="{{ .Params.buttonLink }}" class="btn btn-blue img-left" {{if isset .Params "newTab"}} target="_blank" {{end}}>
                    <span>{{ .Params.buttonText }}</span>
                    <img src="{{ .Params.buttonImageSrc }}" class="btn-img"> </a>
            </div>    
        {{ end }}
    </div>
</div>