<div class="navcoin-hero">
  {{ if (isset .Params "image")}}
  {{ partial "image.html"  (dict "imagePath" .Params.image)  }}

  {{ else if (isset .Params "twitter_user")}}
    <img src="http://avatars.io/twitter/{{ .Params.twitter_user }}">
  {{ else }}
  {{ partial "image.html"  (dict "imagePath" "/images/icons/icon-community.png")  }}
    <!--<img src="/images/icons/icon-community.png">-->
  {{ end }}
  <h2>{{ .Params.name }}</h2>
  <p>{{ .Params.description }}</p>
  <div class="icon-container">
  {{ if (isset .Params "twitter_user")}}
    <a href="https://twitter.com/{{ .Params.twitter_user }}">
      <div class="icon-circle">
        <i class="fa fa-twitter fa-inverse"></i>
      </div>
    </a>
    {{ end }}
    {{ if (isset .Params "fb_url")}}
      <a href="{{ .Params.fb_url }}">
        <div class="icon-circle">
          <i class="fa fa-facebook fa-inverse icon-itself"></i>
        </div>
      </a>
    {{ end }}
    {{ if (isset .Params "github_url")}}
      <a href="{{ .Params.github_url }}">
      <div class="icon-circle">
        <i class="fa fa-github fa-inverse icon-itself"></i>
      </div>
    </a>
    {{ end }}
    {{ if (isset .Params "website_url")}}
      <a href="{{ .Params.website_url }}">
        <div class="icon-circle">
          <i class="fa fa-link fa-inverse icon-itself"></i>
        </div>
      </a>
    {{ end }}
    {{ if (isset .Params "linkedin_url")}}
      <a href="{{ .Params.linkedin_url }}">
        <div class="icon-circle">
          <i class="fa fa-linkedin fa-inverse icon-itself"></i>
        </div>
      </a>
    {{ end }}
    {{ if and (not (isset .Params "linkedin_url")) (not (isset .Params "website_url")) (not (isset .Params "github_url")) (not (isset .Params "fb_url")) (not (isset .Params "twitter_user")) }}
      <div>&nbsp;</div>
    {{ end }}
  </div>
</div>
