<div class="news-item">
    {{ if isset .Params "generated_by_cms" }}
        <a href="{{ .URL }}">

        <div class="blog-image" style="display: flex; justify-content: center;  align-items: center; height: 200px; overflow: hidden;" >
            <img src="{{ .Params.feature_image}}" style=" flex: none;" />
            <div class="item-overlay"></div>
        </div>
        </a>
<!--
    position: relative;
    overflow: hidden;
    min-height: 200px;
    background-size: cover;
    background-position: center center;
    max-width: 95vw;
    border-radius: 5px 5px 0 0;
    -->

    {{else}}
        <a href="{{ .URL }}">

            <div class="blog-image"  style="display: flex; justify-content: center;  align-items: center; height: 200px; overflow: hidden;" >
                <img src="{{ .Params.feature_image}}" style=" flex: none;" />
                <div class="item-overlay"></div>
            </div>
        </a>
    {{ end }}
    <div class="blog-details">
        <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
        <ul class="blog-author-name">
            <li><i class="fa fa-user-circle-o"></i>{{ .Params.author }}</li>
            <li>
                <i class="fa fa-calendar"></i>
                {{ dateFormat "2 Jan 2006" .Params.date }}
            </li>
        </ul>
        <ul class="blog-author-name">
            {{ range .Params.categories }}
            <li><i class="fa fa-folder-open-o"></i>{{.}} </li>
            {{end}}
        </ul>
        <div class="blog-excerpt">
            {{ .Summary }}
        </div>
        <div class="social-icon-sect">
            <div class="read-more">
                <div class="themeix-button-group">
                    <a href="{{ .URL }}" class="btn btn-purple">read more</a>
                </div>
            </div>
            <div class="share-icon">
                <span>share</span>
                <a class="social-icon twitter" href="https://twitter.com/intent/tweet?text={{ .Params.title }}&url={{.Site.BaseURL}}{{ .URL }}&via={{ .Site.Params.twitter_username }}&related={{ .Site.Params.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <a class="social-icon facebook" href="https://facebook.com/sharer.php?u={{.Site.BaseURL}}{{ .URL }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                <a class="social-icon google" href="https://plus.google.com/share?url={{.Site.BaseURL}}{{ .URL }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
</div>
