<nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">    
        <li class="sidebar-list-title">NavHub.org</li>
        {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                        {{ if or (eq .Identifier "navcoin") (eq .Identifier "collab") }}
                            <img src="/images/icons/external_link.png" alt="" class="external-link-img"> 
                        {{ end }}

                    </a>
                </li>
            {{end}}
    </ul>

    <ul class="nav sidebar-nav guides">
        <li class="sidebar-list-title">NavHub guides</li>
        <li class="guides-page">
            <a href="/guides/"><span>Guides Overview</span></a>
        </li>
        {{ range $page := where .Site.Pages "Params.page_type" "guide" }}
            <li class="guides-page">
                <a href="{{ .Permalink}}"><span>{{ .LinkTitle }}</span></a>
            </li>
        {{end}}
    </ul>
    <ul class="nav sidebar-nav">
        <li class="sidebar-list-title">Community Channels</li>
        <li>
            <div class="social-icon-container">
                <a href="https://discord.gg/y4Vu9jw" target="_blank"><img src="/images/icons/discord-small.png" alt="discord"></a>
                <a href="https://twitter.com/navcoin" target="_blank"><img src="/images/icons/twitter-small.png" alt="twitter"></a>
                <a href="https://github.com/navcoin" target="_blank"><img src="/images/icons/github-small.png" alt="github"></a>
                <a href="https://reddit.com/r/navcoin" target="_blank"><img src="/images/icons/reddit-small.png" alt="reddit"></a>
                <a href="https://www.youtube.com/NavCoinCore" target="_blank"><img src="/images/icons/youtube-small.png" alt="youtube"></a>
                <a href="https://facebook.com/navcoin" target="_blank"><img src="/images/icons/facebook-small.png" alt="facebook"></a>
                <a href="https://t.me/navcoin" target="_blank"><img src="/images/icons/telegram-small.png" alt="telegram"></a>
                <a href="https://medium.com/@navcoin" target="_blank"><img src="/images/icons/medium-small.png" alt="medium"></a>
            </div>
        </li>
    </ul>
</nav>      

