<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#header-menu">

{{ partial "header_three_title.html" .  }}

<div class="appix-blog-content section-ptb-2">
    <div class="ninety-vw-container grid-container">
      {{ $list := (.Data.Pages) }}
      {{ $len := (len $list) }}

      {{ $last := (sub $len 1) }}

            {{ range $index, $element := .Data.Pages }}

              {{ if (eq (mod $index 2) 0) }}
              <div class="row">
              {{ end }}

              <div class="col-xs-12 col-sm-6">
                  <div class="blog-item-how-to">
                      <a href="{{ .URL }}"> <div class="blog-image" style="background-image:url({{ .URL }}/{{ .Params.feature_image }});">
                          <div class="item-overlay"></div>
                      </div>
                      </a>
                      <div class="blog-details-how-to">
                          <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
                          <ul class="blog-author-name">
                              {{ range .Params.categories }}
                              <li><i class="fa fa-folder-open-o"></i>{{.}} </li>
                              {{end}}

                          </ul>
                          <div class="blog-excerpt-how-to">
                              {{.Params.feature_text}}
                          </div>
                          <div class="read-more">
                              <div class="themeix-button-group">
                                  <a href="{{ .URL }}" class="themeix-btn themeix-danger">read more</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              {{ if (eq (mod $index 2) 1)}}
              </div>
              {{ else }}
                {{ if (eq $index $last)}}
                </div>
                {{ end }}
              {{ end }}
            {{end}}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}

</body>
</html>
