{{ if (eq .Params.in_progress true) }}
<div class="project-card" style="background-color: #6984D8; color: #FFF !important; ">
{{ else if (eq .Params.completed true) }}
<div class="project-card" style="background-color: #7d5ab5; color: #FFF !important; ">
{{ else if (eq .Params.beta_testing true) }}
<div class="project-card" style="background-color: #6984D8; color: #FFF !important; ">
{{ else }}
<div class="project-card" style="background-color: #2E94DF; color: #FFF !important; ">
{{ end }}
  <div class="bg-container">
    <img src="{{.Params.bg_image}}" class="background-image" />
  </div>
  {{ if (isset .Params "author") | ( not (eq .Params.author "")) }}
  <label class="card-author">
    <span class="card-author-subhead">Project Lead</span>
    <span class="card-author-name"> {{ .Params.author}}</span></label>
  {{ end}}
  {{ if (eq .Params.beta_testing true) }}
  <label class="card-author card-status">
    <span class="card-author-subhead">Status</span>
    <span class="card-author-name">Beta Testing</span></label>
  {{ end}}
  <div class="flex-container">
    <div>
      <h3 class="card-title">
        {{ .Title }}
      </h3>

      <div style="color: {{.Params.font_color}} !important;" class="project-desc">{{.Params.description}}</div>

      {{ if (eq .Params.in_progress true) }}
      <div class="progress">
        <div class="progress-bar progress-bar-info"
        style="width: {{.Params.percent_complete}}%"
        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ .Params.percent_complete}}%</div>
      </div>
      {{ end }}

    </div>

    <div class="info-links">
      {{ if (isset .Params "twitter_url") | ( not (eq .Params.twitter_url "")) }}
      <a href="{{.Params.twitter_url}}" target="_blank"><label><i class="fa fa-twitter"></i></label></a>
      {{end}}

      {{ if (isset .Params "github_url") | ( not (eq .Params.github_url "")) }}
      <a href="{{.Params.github_url}}" target="_blank"><label><i class="fa fa-github"></i></label></a>
      {{end}}

      {{ if (isset .Params "reddit_url") | ( not (eq .Params.reddit_url "")) }}
      <a href="{{.Params.reddit_url}}" target="_blank"><label><i class="fa fa-reddit"></i></label></a>
      {{end}}

      {{ if (isset .Params "project_url") | ( not (eq .Params.project_url "")) }}
      <a href="{{.Params.project_url}}" target="_blank"><label><i class="fa fa-link"></i></label></a>
      {{end}}

      {{ if .Params.allow_click_through }}
      <a href="{{.RelPermalink}}" class="click-through themeix-btn bg-change smoothScroll">Read More <span class="fa fa-chevron-right project-more"></span></a>
      {{end}}
    </div>
  </div>
</div>
