<section class="skew themeix-bg first-skew first-skew-deg-3 remove-top-skew" id="home">
    <div class="main-slider-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel">
                        <div class="col-md-8">
                            <div class="caption-area">
                                <h1 class="caption-heading">{{.Params.secIntroTitle}}</h1>
                                <p class="caption-para">{{.Params.secIntroSecondLine}}</p>
                                <p class="caption-para-second">{{.Params.secIntroThirdLine}}</p>
                                <div class="themeix-button-group">
                                    <a href="#pricing" class="themeix-btn smoothScroll">Community Projects</a>
                                    <a href="#get-apps" class="themeix-btn bg-change smoothScroll">Contribute</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="caption-area">
                                <h1 class="caption-heading">Appix - Best Landing Page</h1>
                                <p class="caption-para">Best app landing page template for the app developers or any independent business owners.</p>
                                <p class="caption-para-second">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survive.</p>
                                <div class="themeix-button-group">
                                    <a href="#get-apps" class="themeix-btn smoothScroll">Play Store</a>
                                    <a href="#get-apps" class="themeix-btn bg-change smoothScroll">iTunes Store</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>