<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>
{{ partial "header_three_title.html" .  }}
<div class="row">
    <div class="roadmap-content" style="margin-bottom: 0px; margin-top: 2px;">{{ .Content }}</div>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 150px;">
        <div class="col-xs-12 col-sm-12" >
            <h2>Upcoming Projects</h2>
            <hr>
            <div style="margin-bottom: 50px;">
                {{range (.Site.Pages.ByWeight)  }}
                    {{ if (.Params.show_on_roadmap) }}
                        {{ if and (not .Params.in_progress) (not .Params.completed) }}
                            {{ partial  "roadmap_item_upcoming.html" . }}
                        {{end}}
                    {{end}}
                {{end}}
            </div>

            <h2>In Progress</h2>
            <hr>
            <div style="margin-bottom: 50px;">
                {{range (.Site.Pages.ByParam "percent_complete").Reverse  }}
                    {{ if (.Params.show_on_roadmap) }}
                        {{ if (.Params.in_progress) }}
                            {{ partial  "roadmap_item_in_progress.html" . }}
                        {{end}}
                    {{end}}
                {{end}}
            </div>

            <h2>Completed</h2>
            <hr>
            <div>
              {{range (.Site.Pages.ByWeight)  }}
                  {{ if and (.Params.show_on_roadmap) (.Params.completed) }}
                      {{ partial  "roadmap_item_complete.html" . }}
                  {{end}}
              {{end}}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" .  }}

</body>
</html>
