<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

{{ partial "hero_section.html" . }}

<div class="ninety-vw-container grid-container projects">
    {{ $list := (.Data.Pages) }}

    {{ range $index, $element := .Data.Pages.ByWeight }}
      {{ if and (.Params.completed) (.Params.show_on_projects) }}
        {{ partial "projects/project_card.html" . }}
      {{ end }}
    {{ end }}

    {{ range $index, $element := .Data.Pages.ByWeight }}
      {{ if and (.Params.beta_testing) (.Params.show_on_projects) }}
        {{ partial "projects/project_card.html" . }}
      {{ end }}
    {{ end }}

    {{ range $index, $element := .Data.Pages.ByWeight }}
      {{ if and (.Params.in_progress) (.Params.show_on_projects) }}
        {{ partial "projects/project_card.html" . }}
      {{ end }}
    {{ end }}

    {{ range $index, $element := .Data.Pages.ByWeight }}
      {{ if and (not .Params.in_progress) (not .Params.completed) (not .Params.beta_testing) (.Params.show_on_projects) }}
          {{ if (not .Params.order_page) }}
              {{ partial "projects/project_card.html" . }}
          {{ end }}
      {{ end }}
    {{ end }}


</div>
{{ partial "footer.html" . }}aa
</body>
</html>
