<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body data-spy="scroll" data-target="#header-menu">
    {{ partial "header.html" . }}

  <div class="guides-container">
    <div class="guides-menu guides-menu-sticky">
      {{ partial "guides-menu.html" . }}
    </div>
    <div class="guides-article">
      <a href="https://github.com/navcoin/navhub/tree/master/{{ .Params.github_file }}" target="e" title="Edit this tile on GitHub" class="github-edit">
        Edit this page on Github <span class="fa fa-edit"></span>
      </a>
      {{ .Content }}
    </div>
    <div class="footer-container">
      {{ partial "footer.html" . }}
    </div>
  </div>
</body>
</html>
