<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body data-spy="scroll">


  <div class="guides-container">
    <div class="guides-menu">
      {{ partial "guides-menu.html" . }}
    </div>
    <div class="guides-article">

      {{ .Content }}

      <div class="blog-meta-wrapper" style="margin-top: 30px;">
          <div class="blog-meta">
              {{ if .Params.author }}
              <div class="blog-author">
                  <i class="fa fa-user-o"></i> {{.Params.author}}
              </div>
              {{end}}
              <div class="blog-author">
                  <i class="fa fa-calendar"></i>
                  {{ dateFormat "2 Jan 2006" .Params.date }}
              </div>
          </div>
          {{ partial "social_share.html" . }}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</body>
</html>
