.get-started-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0 42px 0;
  padding: 0 8px;
  h1 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 70px;
    font-size: 40px;
    color: #111111;
    margin-bottom: 10px;
  }
  h2 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 40px;
    font-size: 26px;
    font-weight: 200;
    color: #707070;
    margin-bottom: 42px;
    max-width: 70vw;
    text-align: center;
    @media (max-width: 870px ) {
      max-width: 600px;
    }
  }
  .grid-container {
    margin-bottom: 25px;
    width: 90vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .grid-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px;
      background: #ffffff;
      border: #DDDDDD 1px solid;
      &:hover {
        border: 1px solid #9D3CD1;
      }
  
      height: 100%;
      max-height: 350px;
      a {
        color: #707070;
        &:hover {
          color: #7d5ab5;
        }
        img {
          $wh: 150px;
          width: $wh;
          height: $wh;
          margin-bottom: 15px;
        }
        h2 {
          font-family: 'Raleway', Times, serif;
          font-weight: initial;
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 15px;
          color: #111111;
        }
        span {
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: initial;
          font-size: 16px;
          line-height: 27px;
        }
      }
    }
  }
}