.homepage-projects-section {
  --card-width: 400px;
  --border-color: #E3E3E3;
  @media (max-width: 440px) {
    --card-width: 300px;
  }
  .title-container {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
  }
  .card-container {
    --grid-gap: 18px;

    border-left: 1px solid var(--border-color); 
    border-right: 1px solid var(--border-color); 
    display: grid;
    grid-template-columns: repeat(4, var(--card-width));
    overflow-x: scroll;
    grid-gap: var(--grid-gap);
    max-width: calc( calc( var(--grid-gap) * 4 ) + calc( var(--card-width) * 4));
    .homepage-project-card {
      background: #fff;
      border: 1px solid var(--border-color);
      max-width: 390px;
      width: 100%;
      padding: 20px;
      @media (max-width: 440px) {
        padding: 10px;
      }
      h2 {
        color:#7D5AB5;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: 'Raleway', Times, serif;
      }
      .project-author {
        color:#7D5AB5;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .description {
        color: #707070;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}