<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>

{{ partial "hero_section.html" . }}

<div class="container">

    {{ partial "navcoin_hero.html" (dict "image" "/images/icons/icon-discord.png" "name" "Prodpeak1" "description" "If you’re interested in contributing to NavHub.org or any NavCoin projects, get in touch with the NavCoin Community." "url" "/" "fb_url" "https://www.facebook.com/navcoin/" "twitter_url" "https://www.twitter.com/navcoin") }}
    {{ partial "navcoin_hero.html" (dict "image" "/images/icons/icon-discord.png" "name" "Prodpeak2" "description" "If you’re interested in contributing to NavHub.org or any NavCoin projects, get in touch with the NavCoin Community." "url" "/" "fb_url" "https://www.facebook.com/navcoin/" "twitter_url" "https://www.twitter.com/navcoin") }}
    {{ partial "navcoin_hero.html" (dict "image" "/images/icons/icon-discord.png" "name" "Prodpeak3" "description" "If you’re interested in contributing to NavHub.org or any NavCoin projects, get in touch with the NavCoin Community." "url" "/" "fb_url" "https://www.facebook.com/navcoin/" "twitter_url" "https://www.twitter.com/navcoin") }}
    
    {{ partial "generic_box_item.html" (dict "image" "/images/icons/icon-discord.png" "title" "Logos" "description" "Download Logo Pack") }}
    {{ partial "generic_box_item.html" (dict "image" "/images/icons/icon-discord.png" "title" "Logos" "description" "Download Logo Pack") }}
    {{ partial "generic_box_item.html" (dict "image" "/images/icons/icon-discord.png" "title" "Logos" "description" "Download Logo Pack") }}
    
    {{ partial "box_item_w_link.html" (dict "image" "/images/icons/icon-discord.png" "title" "Logos" "subtext" "Download Logo Pack") }}
    {{ partial "box_item_w_link.html" (dict "image" "/images/icons/icon-discord.png" "title" "Logos" "subtext" "Download Logo Pack") }}
    {{ partial "box_item_w_link.html" (dict "image" "/images/icons/icon-discord.png" "title" "Logos" "subtext" "Download Logo Pack") }}


</div>
</body>
</html>

    
    
    