<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}
{{ partial "hero_section.html" . }}

<div class="ninety-vw-container grid-container">
</div>

    <div style="background:#ccc; width: 100%; padding: 10px 15vw; display: flex; flex-flow: row wrap; place-items: center; place-content: space-around; ">
        <button class="btn btn-purple">Purple Button</button>
        <button class="btn btn-blue">Blue Button</button>
        <button class="btn btn-white">White Button</button>
    </div>
{{ partial "footer.html" . }}
</body>
</html>

    
    
    